*{
    padding: 0;
    margin:0;
}


.main-div{
background-color: #F8AD42; 

}
.nav-brand{
    
    padding: 0px 0px; 
    height: 55px;
    width: 175px; 
}
.container{
  padding: 0 !important;
}
.nav-item{
    text-decoration: none;
    font-size: 20px;
    font-weight:500;
   
}
.login-img{
    
 height: 42px;
 width: 42px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(0, 0, 0);
 color: white;
 
 
 border: none;
 border-radius: 50%;
 margin-top: 10px;


 padding: 5px;
 font-size: 16px;

}

.nav-item.active {
   text-decoration: underline rgb(198, 44, 44) 2px;
   text-underline-offset: 5px;
  }
  

@media (min-width: 781px) and (max-width: 1039px) {
       
    .container { flex-direction: column; align-items: center; } .nav-item { font-size: 18px; margin: 10px 0; } .login-img { margin-top: 15px; font-size: 14px; } .sec2-img { height: 350px; width: 350px; }
     
  }

  
  