.section1{
    height: 500px;
 
 }
 
 .section1-heading{
     font-family: "Merriweather";
    font-size: 65px;
 }
 
 .section1-p{
     font-family: "Judson";
     font-size: 30px;
 }
 
 .section2{
    background-color: #F8F5F3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section2-div1{
    width: 500px;
    margin-top: 80px;
}

.section2-heading{
    font-family: "Newsreader";
    border-left: 2px solid red;
    padding-left: 20px;
    padding-top:3px;

    position: absolute;
    left: 138px;
    top: 649px;   
}

.section2-p{
    font-family: "Judson";
    text-align: justify;
}

.sec2-img{
   height: 400px;
   width: 420px;
    
}
@media  (max-width: 572px) {
    .sec2-img{
     width: 100%;
     height: 80%;
   
    }
    .section2-heading{
        padding-left: 10px;
        left: 30px;
        
    }
    .section2-div1{
        padding-left: 30px;
        padding-right: 30px;
    }
   

}
